.app {
  text-align: center;
  background-color: rgb(251, 191, 191);
  padding: 2rem;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.purple {
  background-color: purple;
  color: #fff;
  border: none;
  padding: 1vh;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  background-color: #88baff;
  padding: 0.5rem;
}

.cyan {
  background-color: #bce6e8;
  padding: 0.5rem;
}

.from_anh_3 {
  background-color: red;
}
